body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --size-xxxs: 0.5px;
  --size-xxs: 1px;
  --size-xs: 2px;
  --size-sm: 4px;
  --size-md: 8px;
  --size-lg: 12px;
  --size-xl: 16px;
  --size-xxl: 20px;
  --size-xxxl: 24px;
}
